@media screen and (max-width:980px) {

    .right_part{display:none;}
    /* card design */
    .card{
        max-width: 150px;
        gap: 5px;
    }
    .card img{
        max-width: 150px;
    }
    .card img:hover{
        zoom: 110%;
    }
}

@media screen  and (max-width:480px){
    .right_part{display:none;}
    /* card design */
    .card{
        max-width: 100px;
        gap: 4px;
    }
    .card img{
        max-width: 100px;
    }
    .card img:hover{
        zoom: 110%;
    }
}